$button-colour-operator: #ffa500;

.numberpad {
  display: flex;
  flex-wrap: wrap;
  width: 500px;

  &__button {
    width: 25%;

    &--operator {
      background-color: $button-colour-operator;
    }

    &--wide {
      width: 75%;
    }
  }
}
